html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}


.header{
    background-color: black;
}
.img{
    background-color: black;
    width: 100%;
    overflow: auto;
    height: 90px;
    }
.popi{
    text-decoration: none;
	color: whitesmoke;
	display: block;
    font-size: 37px;
    font-family: copperlate, fantasy;
    margin-right: 20px;
    margin-top: 2.5px;
    margin-bottom: 2px;
    padding-left: 20px
}
.imga p{
        text-decoration: none;
	color: whitesmoke;
	padding-left: 25px;
	display: block;
    font-size: 15px;
    font-family: "courier new", monospace;
    margin-right: 20px;
    margin-top: 0px;
    text-align: left;
    

}
.imga{
    width: 30%;
    float: left ;
    border-right: 100;
    height: 1px
}
.imgr{
    width: 70%;
    float: left ;
    border-right: 100;
    height: 0px
}

.menu{
	list-style: none;
	padding: 0;
	background: black;
	width: 90%;
	max-width: 2000px;
    text-align: right;
    margin-right: 20px;
}
.menu li a {
	text-decoration: none;
	color: whitesmoke;
	padding: 20px;
	display: block;
    font-size: 20px;
    font-family: "courier new", monospace;
    margin-right: 12px;
}

.menu li{
	display: inline-block;
	text-align:center;
    margin-bottom: 3px;
    
}
.menu li a:hover{
    text-decoration-line: underline;
    text-decoration-color: whitesmoke;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: 70px;
    font-family:  "courier new", monospace;
    margin-bottom: 1;
}
h2{
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    font-family: "courier new", monospace;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 2;
}
body{
    background-color: whitesmoke;
}
.gc{
    height: 400px;
    background-color: whitesmoke;
    width: 100%;
    overflow: auto;
}
.gc div{
    width: 50%;
    float: left ;
    border-right: 100;
    
}
.gc img{
    height: 400px;
    width: 550px;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    overflow: hidden;
    justify-content: center;
}
.gc h2{
    font-size: 30px;
    margin-top: 15%;
    color: black;
    text-align: left;
    margin-left: 20%;
}
.gc p{
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    
}

.sp{
    width: 100%;
    overflow: auto;
    }
.sp div{
    width: 33.33%;
    float: left ;
    border-right: 100;
    height: 280;
}
.sp img{
    display: flex;
    height: 150px;
    width: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    overflow: hidden;
    justify-content: center;
    margin-top: 30px;
}
.sp img:hover{
    background: whitesmoke;
    opacity: 50%;
}
p{
    color: whitesmoke;
    font-family: "courier new", monospace;
    text-align: center;
    margin-top: 0;
    font-size: 20;
    margin-bottom: 0;
}
.sp h2{
    font-size: 30px;
    margin-top: 30px;
}

.a1 p{
    color: black;
    
}
.a1 h2{
    color: black;
}
.img2{
    height: 400x;
    width: 100%;
    background-color: black;
    margin-top: 0px;
}
.img2 h1{
    padding: 30px;
}
.o{
    height: 600px;
    background-color: whitesmoke;
}
.amm{
    height: 420px;
    background-color: whitesmoke;
    width: 100%;
    overflow: auto;
}
.amm div{
    width: 50%;
    float: left ;
    border-right: 100;
    
}
.amimg{
    background-color: black;
}
.amimg img{
    height: 350px;
    width: 60%;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    overflow: hidden;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.amigos li {
    font-family: "courier new", monospace;
    padding: 9px;
    font-size: 40px;
    padding-left: 25%;
    list-style-type: none;
    
}
.amigos li a{
    text-decoration: none;
    font-family: "courier new", monospace;
    margin-right: 12px;
    color: black;

}
.amigos li a:hover{
    background-color: black;
    opacity: 50%;
    color: whitesmoke;

}
.hobb{
    background-color: whitesmoke;
    height: 
}